* {
    margin: 0px;
    padding: 0px;
}


/* body {
    background: ivory;
} */

.container {
    background: whitesmoke;
    width: 25%;
    height: 100vh;
}

.container nav {
    margin-left: 20px;
}

img {
    margin-top: 15px;
}

.fa-times {
    position: absolute;
    font-size: 20px;
    color: red;
    margin-left: 70px;
    margin-top: 30px;
    cursor: pointer;
}

.fa-bars {
    position: relative;
    color: cornflowerblue;
    float: right;
    font-size: 30px;
    margin: 20px 60px 0px 0px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 30px;
}

ul li {
    margin: 13px;
    color: cornflowerblue;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    /* transition: width 2s; */
}

ul li:hover {
    background: cornflowerblue;
    color: whitesmoke;
}

ul a {
    text-decoration: none;
    transition: 0.3s;
}

.media {
    position: absolute;
    bottom: 0px;
    margin-left: 90px;
}

.media a {
    font-size: 30px;
    text-decoration: none;
    color: cornflowerblue;
}

.hide {
    display: none;
}

.show {
    display: inherit;
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 30%;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 35%;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    .fa-bars {
        display: none;
    }
    .fa-times {
        right: 20px;
    }
}


/* */